.DS_Store
my-turborepo/node_modules
.turbo
*.log
.next
.idea
**/.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
**/node_modules
my-turborepo/README.md
my-turborepo/pnpm-lock.yaml
my-turborepo/pnpm-workspace.yaml

