.DS_Store
my-turborepo/node_modules
*.graphql.ts
*.graphql.js
my-turborepo/package-lock.json
.turbo
*.log
.next
.idea
**/.next
dist
dist-ssr
*.local
.env
.env.test
**/env
my-turborepo/apps/mainpage/.env.production
my-turborepo/apps/api/.env.test
.cache
server/dist
public/dist
**/node_modules
my-turborepo/README.md
my-turborepo/pnpm-lock.yaml
my-turborepo/pnpm-workspace.yaml

